/backend/node_modules
/frontend/node_modules
frontend/.env
backend/.env
/node_modules
/backend/uploads
docs/admin_migration.sql
docs/fejlesztendo_funkciok.txt
/frontend/playwright-report
/frontend/test-results
git_history.txt
docs/Bellora.csv
